/* .heading{
    font-size: larger;
    color: red;
}

.hit{
    background-color: green;
}

.flop{
    background-color: maroon;
}

.rating{
    font-weight: 600;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
} */